:root {
    /* Colors */
    --primary-color: #C15C3C;
    --secondary-color: #40616C;
    --background-color: #F6ECE4;
    --light-text: #FFFFFF;

    /* Fonts */
    --heading-font: "Squada One", sans-serif;
    --heading-font-weight: 400;
    --heading-font-style: normal;
}

body {
    background-color: var(--background-color);
}

header {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo {
    height: 70px;
    width: 265px;
    background-color: var(--primary-color);
}

nav {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 10px;
    color: var(--light-text);
    text-transform: uppercase;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    padding-bottom: 50px;

    .hero-img {
        width: 530px;
    }
}

h1 {
    color: var(--primary-color);
    font-size: xx-large;
    font-family: var(--heading-font);
    font-weight: var(--heading-font-weight);
    font-style: var(--heading-font-style);
}