body {
    height: 100vh;
    background-color: #7a8d7a;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("green-texture.jpg");
    background-repeat: repeat;
}

img {
    max-width: 80%;
}
